@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "sf-pro-text", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sf-pro-text";
  font-style: normal;
  font-weight: 400;
  src: url(/font/SFPRODISPLAYREGULAR.OTF) format("opentype");
}
@font-face {
  font-family: "sf-pro-text";
  font-style: normal;
  font-weight: 500;
  src: url(/font/SFPRODISPLAYMEDIUM.OTF) format("opentype");
}
@font-face {
  font-family: "sf-pro-text";
  font-style: normal;
  font-weight: 700;
  src: url(/public//font/SFPRODISPLAYBOLD.OTF) format("opentype");
}



.carousel {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
  